*
{
    margin: 0;
}

/***********************************************************/
/*                        Menu Bar                         */
/***********************************************************/

header
{
    background-color: rgb(40,40,40);
}

.row
{
    max-width: 1600px;
    margin: auto;
}

.main-nav
{
    float: center;
    list-style: none;
    margin-top: 0px;
    height: 35px;
    line-height: 35px;
}
.main-nav li
{
    display: inline-block;
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main-nav li.active a
{
    font-weight: bold;
}

body
{
    font-family: "Roboto", sans-serif;
}

/***********************************************************/
/*                         Footer                          */
/***********************************************************/

.footer
{
    margin-top: 500px;
    background-color: rgb(40,40,40);
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 32px;
    width: 100%;
}

/***********************************************************/
/*                       index.html                        */
/***********************************************************/

.me
{
    position: relative;
    color: rgb(40,40,40);
    margin-left: 40px;
    margin-top: 80px;
    width: 1200px;
}
.me_img
{
    float: left;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
}
.me_title
{
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    margin-left: 320px;
}
.me_brief
{
    color: rgb(40,40,40);
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-left: 320px;
}

.work
{
    position: relative;
    color: rgb(40,40,40);
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    width: 1200px;
}
.work_title
{
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    margin-left: 320px;
}
.work_explanation
{
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-left: 325px;
}
.work_rl
{
    margin-top: 20px;
    margin-left: 320px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

/***********************************************************/
/*                   Publications.html                     */
/***********************************************************/

.portfolio
{
    margin-top: 40px;
    margin-left: 200px;
    width: 1000px;
}

.paper
{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    width: 1000px;
}
.paper_title
{
    font-weight: bold;
    color: rgb(40,40,40);
    font-size: 30px;
    text-align: left;
}
.paper_publication
{
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    color: rgb(40,40,40);
    font-size: 20px;
    text-align: left;
}
.paper_link
{
    line-height: 35px;
    margin-top: 10px;
}
.paper_icon
{
    float: left;
    margin-right: 10px;
}
iframe
{
    align-content: center;
    align-self: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paper_citation
{
    line-height: 35px;
    margin-top: 10px;
}